langchain
langchain-openai
langchain-core
langchain_community
docx2txt
pypdf
langchain_chroma
python-multipart
python-dotenv
fastapi
uvicorn
sentence_transformers
langchain-huggingface
llama-parse
unstructured[md]